@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  background-color: #D4F3EF;
  font-family: 'Roboto', sans-serif;
  color: rgb(60, 60, 60);
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.small-circle-img {
  border-radius: 50%;
  width: 40%;
}

.card {
  background-color: #e7f1f0;
  box-shadow: 0 0 24px rgb(0 0 0 / 10%);
  padding: 24px;
  text-align: center;
  border-radius: 4px;
  margin: 40px 0;
}

h1 {
  font-family: 'Dosis', sans-serif;
  line-height: 10px;
  font-size: 40px;
}

h2 {
  font-family: 'Dosis', sans-serif;
  color: rgb(80, 80, 80);
  font-size: 20px;
}

p{
  font-size: larger;
}

a {
  text-decoration: none;
  display: inline-block; 
}

.btn-pink {
  background-color: #EE8572;
  color: rgb(230, 230, 230);
  padding: 16px 24px;
  border-radius: 4px;
}

.btn-pink:hover {
  background-color: #0a1575;
  color: rgb(230,230,230);
  transition: .3s;
}



.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
  font-size: 64px;
  margin: 0 8px;
}

.list-inline a {
  color: #0a1575;

}


.footer {
  background-color: #b5e4dd;
  position: sticky; 
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer > h2 {
  padding-top: 10px;
}

.footer > ul {
  margin-bottom: 0;
}

.footer > ul > li {
  margin: 0 20px;
}